.container {
  margin: 0 auto;
  max-width: 300px;
}

body {
  background-color: #f1e560;
}

.wrapper {
  max-height: 600px;
  height: 400px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.select-div {
  grid-column-start: 3;
}

.s-1 {
  color: #21221b;
  background-color: rgb(165, 222, 168);
  max-width: 100px;
}

.out-1 {
  font-size: 22px;
  margin-top: 10px;
  color: #0f0c0aaa;
}

.h2-1 { 
  color: rgba(38, 13, 2, 0.743);
  font-style: italic;
}
